@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
* {
    padding: 0;
    margin: 0;
}
.btn-container{
   text-align: center;
}
.btn {
 border-radius: 8px;
 border: none;
 background: rgb(82, 195, 3);
 padding: 14px 18px 14px 18px;
 color: rgb(255, 255, 255);
 font-family: Work Sans;
 font-size: 12px;
 font-weight: 600;
 line-height: 16px;
 letter-spacing: 0%;
 text-align: center;
 cursor: pointer;
}

#hero {
    height: 653px;
    background-image: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),
    url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    width: 726px;
}

#hero .hero-content .subtitle {
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 10px;
}

#hero .hero-content .title {
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 36px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 14px;
}
#hero .hero-content .description {
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 10px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 20px;
}

#card-box {
 width: 937px;
 margin: 100px auto;
}

.container {
 margin-top: 34px;
}

#card-box .info {
    
}

#card-box .title {
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 28px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
}

#card-box .subtitle {
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
}

.card-container {
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   gap: 20px;
   font-family: Work Sans;
}

.card {
    max-width: 301px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .img-box {
    width: 250px;
}

.card .img-box img {
    width: 100%;
}

.card .shop {
    background-color: rgba(82, 195, 3, 0.15);;
    padding: 11px 19px 11px 19px;
}

/* third part */

.third-part {
    height: 476px;
    background-color: white;
}

.third-part .third-part-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-part .third-part-content .img {
   width: 682px;
   height: 476px;
   background-image: url(/assets/foods.png);
}

.third-part .third-part-content .text {
    width: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-part .third-part-content h1 {
 /* padding-left: 183px;
 padding-right: 183px; */
 display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.third-part .third-part-content p {
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin-top: 17px;
}

.third-part .third-part-content h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 937px;
    height: 70px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    font-size: 24px;
    font-family: Work Sans;
    line-height: 27px;
    font-weight: 600;
    opacity: 0.7;
    margin-top: 34px;
}

.third-part .third-part-content .icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.third-part .third-part-content .icon1 {
  width: 23px;
  height: 23px;
  background-image: url(/icons/fb.png);
  background-size: cover;
}
.third-part .third-part-content .icon2 {
  width: 20px;
  height: 20px;
  background-image: url(/icons/twitter.png);
  background-size: cover;
}
.third-part .third-part-content .icon3 {
  width: 20px;
  height: 20px;
  background-image: url(/icons/insta.png);
  background-size: cover;
}


.third-part .third-part-content .icon4 {
  width: 20px;
  height: 20px;  
  background-image: url(/icons/pinterest.png);
  background-size: cover;

}


.footer{
    height: 400px;
    background-image: url(assets/social-bg-2.png);
    background-size: cover;
    align-content: center;
    
}

footer .footer-text {
    text-align: center;
    font-family: Work Sans;
    display: flex;
    flex-direction: column;
    align-items: center;
}                              

footer .footer-text h1 {
    font-size: 35px;
}

footer .footer-text .footer-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

footer .footer-text .footer-icon1 {
    width: 23px;
    height: 23px;
    background-image: url(/icons/fb.png);
    background-size: cover;
}

footer .footer-text .footer-icon2 {
  width: 20px;
  height: 20px;
  background-image: url(/icons/twitter.png);
  background-size: cover;
}
footer .footer-text .footer-icon3 {
  width: 20px;
  height: 20px;
  background-image: url(/icons/insta.png);
  background-size: cover;
}
footer .footer-text .footer-icon4 {
    width: 20px;
    height: 20px;  
    background-image: url(/icons/pinterest.png);
    background-size: cover;
}

footer .footer-text p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 17px;
}

footer .footer-text h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 937px;
    height: 70px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    font-size: 24px;
    font-family: Work Sans;
    line-height: 27px;
    font-weight: 600;
    opacity: 0.7;
    margin-top: 34px;
}
}
